/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

/* body */
footer {
  margin-top: 40px;
}

/* search */
.search {
  margin-bottom: 20px;
}

/* picture */
.picture .panel-body {
  height: 70px;
}
.picture .panel-heading {
  height: 150px;
}
.picture .panel-heading img {
  height: 100%;
  max-width: 100%;
}

.picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* photoviewnavi */
.photoviewnavi {
  height: 50px;
  padding-top: 10px;
  vertical-align: middle;
  background-color: #000;
}

.photmain {
  overflow: visible;
}

/* photo main-img */
.photmain img{
  padding-top: 5px;
  padding-bottom: 20px;
}

.pictrow { 
  clear:both;
}

.pictrow{
  padding-top: 10px;
  padding-bottom: 10px;
}

